.login-form-container{
	background-color:#F3EAE1;
}

.login-form{
	border-top:5em solid #F3EAE1;
	height:80%;
	width:40%;
	margin:0 auto;
	text-align: center;
	font-family:Oswald, sans-serif;
	color:#42094A;
	min-width: 17em;
	.login-heading{
		color:#FF434A;
		font-weight: bold 20em;
	}
	hr{
	margin: 0;
	border-color: #FFA54B;
	clear: both;
	padding-bottom: 2em;
	
	}
	label{
		font-family:Oswald, sans-serif;
		color:#FFA54B;
		display:inline-block;
		float:left;
		margin-left:13%;
	}
	.login-user-input {
		display:block;
		width:50%;
		margin-left:33%;
		color:#42094A;
		
	}
	.login-pass-input{
		@extend .login-user-input;
	}
	
	.log-button-primary{
		background-color:#90C5A9;
		border:#24677F;
		border-bottom: 2px solid #FF434A;
		color:#42094A;

		
		}
	.log-button-primary:hover{
		background:#FF434A;
		}
	
}

			



